<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>项目</title>
    <!-- Bootstrap -->
    <link href="/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="bootstrap-3.3.5-dist/js/html5shiv.js"></script>
    <script src="bootstrap-3.3.5-dist/js/respond.min.js"></script>
    <![endif]-->
    <style>
        body{
            padding-top: 50px;
            padding-bottom: 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <!--导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <!--如果class为container为居中-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!--可折叠-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--导航栏实际内容-->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">综述 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">简述</a></li>
                    <!--下拉菜单-->
                    <li class="dropdown">
                        <!--下拉菜单外观名字-->
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true">
                            特点 <span class="caret"></span>
                        </a>
                        <!--菜单内容-->
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li class="dropdown-header">下拉菜单标题</li>
                            <li><a href="#home">第一个下拉菜单</a></li>
                            <li><a href="#profile">第二个下拉菜单</a></li>
                            <li class="dropdown-header">下拉菜单标题</li>
                            <li><a href="#messages">第三个下拉菜单</a></li>
                            <li><a href="#settings">第四个下拉菜单</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">下拉菜单标题</li>
                            <li><a href="#settings">分割线下的菜单</a></li>
                        </ul>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#about">关于</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default btn-primary">Submit</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<!--===================================================================-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="bootstrap-3.3.5-dist/js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script>
    window.onload = function () {
        $('.dropdown').on('mouseover',function () {
            $('.dropdown').addClass('open');
        });
        $('.dropdown').on('mouseout',function () {
            $('.dropdown').removeClass('open');
        });
    }
</script>
</body>
</html>