<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>项目</title>
    <!-- Bootstrap -->
    <!--<link href="/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="bootstrap-3.3.5-dist/js/html5shiv.js"></script>-->
    <!--<script src="bootstrap-3.3.5-dist/js/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 15px;
        }

        #shopping-car span {
            color: orangered;
        }

        #shopping-car a:hover {
            color: orangered;
        }

        /*.xuan{*/
        /*-webkit-transform:rotate(180deg);*/
        /*-moz-transform:rotate(180deg);*/
        /*}*/
    </style>
</head>
<body>
<div class="container">
    <!--导航栏-->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <!--如果class为container为居中-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" id="coll">
                <!--可折叠-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--导航栏实际内容-->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">综述 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">简述</a></li>
                    <!--下拉菜单-->
                    <li class="dropdown" id="dropdown">
                        <!--下拉菜单外观名字-->
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenu1"
                           aria-haspopup="true" aria-expanded="true">
                            特点 <span class="caret"></span>
                        </a>
                        <!--菜单内容-->
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li class="dropdown-header">下拉菜单标题</li>
                            <li><a href="#home">第一个下拉菜单</a></li>
                            <li><a href="#profile">第二个下拉菜单</a></li>
                            <li class="dropdown-header">下拉菜单标题</li>
                            <li><a href="#messages">第三个下拉菜单</a></li>
                            <li><a href="#settings">第四个下拉菜单</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">下拉菜单标题</li>
                            <li><a href="#settings">分割线下的菜单</a></li>
                        </ul>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#about">关于</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" id="consumer">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="true">
                            买家中心 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">已买到的宝贝</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" id="owner">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="true">
                            卖家中心 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">已卖出的宝贝</a></li>
                            <li><a href="#">出售中的宝贝</a></li>
                        </ul>
                    </li>
                    <li id="shopping-car">
                        <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车</a>
                    </li>
                    <li>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default btn-primary">Submit</button>
                        </form>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--模态框-->
<!--外三层不改动,仅设置id,为了让点击事件准确找到模态框-->
<div class="modal fade" id="about">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--内三层分别对应标题/内容/按钮-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">关于</h4>
            </div>
            <div class="modal-body">
                内容随便你怎么写
            </div>
            <div class="modal-footer">
                <!--点击有data-dismiss的按钮,模态框才会消失-->
                <button type="button" class="btn btn-default">哦,知道了</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">点我消失</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--===================================================================-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="bootstrap-3.3.5-dist/js/jquery.js"></script>-->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>-->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    window.onload = function () {
//        $('#coll button').on('mouseover', function () {
//            $('#navbar').collapse('show');
//        });
//        $('#coll button').on('mouseout', function () {
//            $('#navbar').collapse('hide');
//        });
//        $('#dropdown').on('click',function () {
//            $('#dropdown span').addClass('xuan');
//        });
//        $('#dropdown').on('mouseout',function () {
//            $('#dropdown span').removeClass('xuan');
//        });
//        $('#consumer').on('mouseover',function () {
//            $('#consumer').addClass('open');
//        });
//        $('#consumer').on('mouseout',function () {
//            $('#consumer').removeClass('open');
//        });
//        $('#owner').on('mouseover',function () {
//            $('#owner').addClass('open');
//        });
//        $('#owner').on('mouseout',function () {
//            $('#owner').removeClass('open');
//        });
    }
</script>
</body>
</html>