.clear-float:after{
    content:'';
    display: table;
    clear:both;
}
#toTop{
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 50px;
    width: 50px;
    background-color: orangered;
    opacity: 0.5;
    text-align: center;
}
#toTop:hover{
    opacity: 0.8;
    cursor: pointer;
}
#serverList:hover{
    cursor: pointer;
}
/*#carousel-img a:hover{*/
    /*color: orangered;*/
/*}*/
#about-us:hover{
    text-decoration: none;
    color: orangered;
}

@media (max-width: 1280px) {
    #search input{
        width: 500px;
    }
}
@media (max-width: 1024px) {
    #search input{
        width: 300px;
    }
}
@media (max-width: 768px) {
    #search{
        display: none;
    }
}
@media (max-width: 640px) {
    #search{
        display: none;
    }
}
@media (max-width: 480px) {
    #search{
        display: none;
    }
}